body {
 padding-top:50px;   
}

.products {
    text-align: center;
}

.tile {
    position: relative;
    padding: 15px 15px 15px;
    margin: 16px;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}

.price-label {
    text-align: center;
}
