<?xml version="1.0" encoding="UTF-8"?><sv:node xmlns:sv="http://www.jcp.org/jcr/sv/1.0" sv:name="events">
  <sv:property sv:name="jcr:primaryType" sv:type="Name">
    <sv:value>hippostd:folder</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
    <sv:value>mix:referenceable</sv:value>
    <sv:value>hippotranslation:translated</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:uuid" sv:type="String">
    <sv:value>5e81c718-35bd-48f4-b715-34f53acdf8b6</sv:value>
  </sv:property>
  <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
    <sv:value>new-events-folder</sv:value>
    <sv:value>new-events-document</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:id" sv:type="String">
    <sv:value>e4c4f014-224f-4f93-b075-69bd88a64082</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:locale" sv:type="String">
    <sv:value>en</sv:value>
  </sv:property>
  <sv:node sv:name="2015">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippostd:folder</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
      <sv:value>mix:referenceable</sv:value>
      <sv:value>hippotranslation:translated</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:uuid" sv:type="String">
      <sv:value>f596c10c-c8c5-4668-acdb-46ba400c0bba</sv:value>
    </sv:property>
    <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
      <sv:value>new-events-folder</sv:value>
      <sv:value>new-events-document</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:id" sv:type="String">
      <sv:value>accd1c3d-d980-45de-924c-c0d0616c4be7</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:locale" sv:type="String">
      <sv:value>en</sv:value>
    </sv:property>
    <sv:node sv:name="03">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippostd:folder</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>mix:referenceable</sv:value>
        <sv:value>hippotranslation:translated</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>2f0e332a-09af-4454-aaee-94c78a014631</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
        <sv:value>new-events-folder</sv:value>
        <sv:value>new-events-document</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>0795fc1a-7f81-47ca-9861-48e8eca4b7da</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>en</sv:value>
      </sv:property>
      <sv:node sv:name="breakfast">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>b8f5eb45-7200-452a-b26e-3118a0dc60b8</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="breakfast">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>myhippoproject:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>4742204c-d375-4f74-9af2-64e4592ab406</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2015/03/breakfast</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:11:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>2c4a2d70-52bc-447c-abfe-4780aefe4cd9</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:date" sv:type="Date">
            <sv:value>2013-11-12T08:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:enddate" sv:type="Date">
            <sv:value>2016-03-24T19:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:introduction" sv:type="String">
            <sv:value>Start the day with a nice breakfast.</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:location" sv:type="String">
            <sv:value>Room 101</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:title" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
          <sv:node sv:name="myhippoproject:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;

          &lt;p&gt;Breakfast is served starting from 8:00 until 9:30.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="myhippoproject:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>c8f03498-56eb-46c9-83b2-cf014f2e03d7</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
        </sv:node>
      </sv:node>
      <sv:node sv:name="introduction-speech">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>18e36c35-429d-4fee-b76e-eeabcbfc08bb</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="introduction-speech">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>myhippoproject:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>90b6f533-9cfb-46a1-a456-e9a5f359a534</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2015/03/introduction-speech</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:02:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>0aeae06a-9157-4960-81a0-372e5a45ee70</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:date" sv:type="Date">
            <sv:value>2013-11-12T10:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:enddate" sv:type="Date">
            <sv:value>2016-03-24T19:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:introduction" sv:type="String">
            <sv:value>After breakfast there will be an introductory speech.</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:location" sv:type="String">
            <sv:value>Room 400</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:title" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
          <sv:node sv:name="myhippoproject:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;

          &lt;p&gt;Speech will be about the workshop.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="myhippoproject:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>9f32434e-84e3-4150-a6f2-d89a67be2fb1</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
      <sv:node sv:name="workshop">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>7a29ec60-2689-48b2-aca2-49696c5c23eb</sv:value>
        </sv:property>
        <sv:node sv:name="workshop">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>myhippoproject:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>1bf55696-fc82-494a-9904-725706fd6b74</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2015/03/workshop</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:18:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>e39804e0-e129-41e0-a42b-38bd165d90b5</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:date" sv:type="Date">
            <sv:value>2013-11-12T13:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:enddate" sv:type="Date">
            <sv:value>2016-03-24T19:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:introduction" sv:type="String">
            <sv:value>Workshop starts at 1:00</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:location" sv:type="String">
            <sv:value>Room 600</sv:value>
          </sv:property>
          <sv:property sv:name="myhippoproject:title" sv:type="String">
            <sv:value>Workshop</sv:value>
          </sv:property>
          <sv:node sv:name="myhippoproject:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;
          &lt;strong&gt;Everybody &lt;/strong&gt;
          &lt;p&gt;can join the workshop and start practicing what they learned during the last
          week.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="myhippoproject:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>d035387b-f9ce-49f6-bcb0-9ab6915a2d5f</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
    </sv:node>
  </sv:node>
</sv:node>
